# Local virtual environments
.venv/
.venv311/
.venv_py/

# Python caches
__pycache__/
*.pyc

# VSCode
# (Intentionally left out from ignore so launch configurations can be committed)

# OS files
Thumbs.db
desktop.ini
